<link rel="stylesheet" type="text/css" href="../static/style.css">
{% block title %}Sign in here!{% endblock %}
{% if error %}Error:{{ error }}</div>
{% endif %}
{% block body %}
    <h1>Sign In!</h1>
    <form action = "" method = "post">
        <dl>
            <dt>Username:
            <dd><input type="text" name="username" size="30" value="{{ request.form.username }}">
            <dt>Password:
            <dd><input type="password" name="password" size="30">
          </dl>
        <div class = "actions"><input type="submit" value = "Submit form!"></div>
    </form>
{% if g.user %}
<a href="{{ url_for('addbudget')}}">Enter Site</a> 
{% endif %}
{% endblock %}